In [1]:
%cd ../..

f:\DR\Stock-Market-Prediction\src

In [2]:
from lstm_normalize import scale_data

In [3]:
data = scale_data()

In [4]:
data.head()

               Close
Date
2000-01-03  0.183161
2000-01-04  0.170036
2000-01-05  0.170668
2000-01-06  0.170984
2000-01-07  0.179927